.mfw-ant-layout-header {
    background-color: #fff;
}

.mfw-table-button-link {
    padding: 0;
    border: none;
    height: auto;
}

.mfw-float-right {
    float: right !important;
}

.mfw-margin-0 {
    margin: 0 !important;
}

.mfw-margin-right-1 {
    margin-right: 8px;
}

.mfw-margin-right-2 {
    margin-right: 16px;
}

.mfw-site-layout {
    background: white;
    padding: 24px;
}

.mfw-autocomplete-with-button .ant-input-group-addon{
    padding: 0;
    border: none;
}