<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tennis focus</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript">
            window.MFW_APP_PROPS = {
                {% include 'urls.json.twig' %}
            }
        </script>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>